.List {
  list-style: none;
  padding: 0;
  margin: 0;
}

.List > li {
  display: inline-block;
}

.ProjectsList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.ProjectsList > .ProjectItem {
  border: 0.01em solid #ccc;
  padding: 1em;
  font-family: Segoe UI, Helvetica, Arial, Sans-Serif;
  margin: 0.5em;
  flex-grow: 1;
  width: 18em;
  max-width: 25em;
  display: flex;
  flex-direction: column;
}

.ProjectTitle {
  margin: 0;
  font-weight: 600;
  color: #777;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1.15em;
}

.ProjectTitle > a {
  text-decoration: none;
  transition: color 0.2s;
}

.ProjectTitle > a:hover {
  color: #333;
/*   text-decoration: underline solid #777; */
}

.ProjectInfo {
  margin: 0.5em 0;
  font-size: 0.91em;
  color: #555;
  flex-grow: 1;
}

.TagsList {
  margin-top: 0.7em;
}

.TagItem {
  font-size: 0.9em;
  color: #555;
  border: 0.1em solid #ccc;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 0.1em 0.5em;
  padding-left: 1em;
  cursor: default;
  margin: 0.1em;
}

.Options {
  margin-top: 0.7em;
  border-top: 0.01em solid #ccc;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
}

.Options .Button {
  background: transparent;
  border: 0.01em solid #bbb;
  padding: 0.3em 1em;
  color: #555;
  font-family: inherit;
  font-size: 0.9em;
  outline: none;
  margin: 0.2em;
  flex: 1;
  cursor: pointer;
  box-shadow: 0.1em 0.1em 0.1em -0.1em #777;
  transition: all 100ms;
}

.Options .Button:hover {
  box-shadow: 0.15em 0.1em 0.1em -0.1em #555;
  transform: translatey(-0.05em);
}


.ProjectItem.Placeholder {
  border-style: dashed;
  background-color: #FAFAFA;
}

.ProjectItem.Placeholder  .ProjectTitle {
  border: none;
  font-family: inherit;
  padding: 0.1em;
  border-bottom: 0.05em dashed #ccc;
  width: 100%;
  outline: none;
  font-size: 1.3em;
  padding-bottom: 0.2em;
  background-color: transparent;
}

.ProjectItem.Placeholder .ProjectInfo {
  font-family: inherit;
  outline: none;
  border: 0.1em dashed #ccc;
  color: #555;
  padding: 0.2em;
  resize: vertical;
  background-color: transparent;
  width: 100%;
}

.ProjectItem.Placeholder .TagsList .TagItem {
  width: 5em;
  border: none;
  border-bottom: 0.1em dashed #ccc;
  padding: 0.2em;
  cursor: unset;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
}

.ProjectItem.Placeholder .Options .Button {
  border-color: #999;
}

* {
  box-sizing: border-box;
}
